*.jpg
*.png
epoch_*
*.txt
*.d2-net
*.pth
*.mp4
*.pyc
./model_ours/checkpoints/*/*
.ipynb_checkpoints
backitup/ep50/checkpoints/*/*
backitup/ep50/checkpoints/
backitup/ep50/logs/
backitup/ep50/results/
.idea
.vscode
tests
backitup
plots
.idea
.git
*/checkpoints/*/*